/* Reset */

h1, h2, h3, h4, h5, ul, body, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

* {
  position: relative;
  z-index: 5;
}

/* Variables */

:root {
  --color-bg-1: #12110f; /* black */
  --color-bg-2: #1a1814; /* another black */
  --color-fg-1: #a99877; /* yellow */
  --color-fg-2: #660000; /* red */
  --color-fg-3: #F3E6D0; /* off-white */
  --color-fg-4: #221103; /* black */

  --font-primary: normal 14px / 1.75 Arial, sans-serif;
  --font-secondary: normal 18px / 1.75 'Palatino Linotype', Times, serif;

  --space-padding: 20px;

  --border-radius: 2px;
}

/* General */

body {
  color: var(--color-fg-1);
  /* background-color: var(--color-bg-1); */
  background-color: black;
  font: var(--font-primary);
}

h1, h2, h3 {
  color: var(--color-fg-3);
  font: var(--font-secondary);
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}

p {
  padding-bottom: var(--space-padding);
}

/* Components */

/* TODO finalize */
.attributes {
  width: 800px;
  height: 200px;
  margin: auto;
  background: radial-gradient(maroon, black), maroon;
}

.features {
  background-color: var(--color-bg-1);
  padding: var(--space-padding);
  position: relative;
  display: grid;
  grid-template-areas: "skills desc";
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.features::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 990px;
  height: 390px;
  background: url('./img/features-bg.jpg') no-repeat -4px 0;
}

.features__skills {
  grid-area: skills;
  position: relative;
  width: calc(325px - var(--space-padding) * 2);
  padding: 75px var(--space-padding) 75px;
  background: url('./img/parchment.jpg') repeat-y;
  color: var(--color-fg-4);
  margin-right: var(--space-padding);
}

.features__skills::before,
.features__skills::after {
  content: '';
  z-index: 0;
  position: absolute;
  left: 0;
  width: 325px;
}

.features__skills::before {
  top: 0;
  height: 265px;
  background: url('./img/parchment-top.jpg');
}

.features__skills::after {
  bottom: 0;
  height: 215px;
  background: url('./img/parchment-bot.jpg');
}

.features__skills h2 {
  color: var(--color-fg-2);
}

.features__skills li {
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgba(1, 1, 1, 0.1)) 1 / 0 0 1px 0;
  width: calc(100% - 20px);
  color: var(--color-fg-4);
}

.features__skills li:nth-child(3n) {
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 60%, rgba(1, 1, 1, 0.1)) 1 / 0 0 1px 0;
}

.features__skills .mod {
  opacity: 0.5;
  font-style: italic;
}

.features__desc {
  grid-area: desc;
}

.features__desc h2 {
  margin-bottom: var(--space-padding);
  padding-left: 70px;
  font-weight: normal;
}

.features__desc h2 .identifier {
  position: absolute;
  width: 40px;
  text-align: center;
  top: 3px;
  left: 2px;
}

.features__desc h2::before,
.features__desc h2::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
}

.features__desc h2::before {
  width: 68px;
  height: 39px;
  background-image: url('./img/section-icon.png');
}

.features__desc h2::after {
  top: 37px;
  height: 50px;
  width: 100%;
  background: url('./img/section-bg.jpg') 0 0 repeat-x;
}

.features__tabs {
  position: absolute;
  bottom: calc(100% + 10px - 3px);
  right: var(--space-padding);
}

.features__tabs li {
  display: inline;
}

.features__tabs a {
  font: var(--font-secondary);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 10px 15px;
  margin-left: 2px;
  background: linear-gradient(to bottom, var(--color-bg-2), var(--color-bg-1));
  box-shadow: inset 0 -5px 5px 0px rgba(0, 0, 0, 0.3);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.features__tabs .active a {
  border-bottom: 1px solid var(--color-bg-1);
  font-weight: bold;
}

.features__tabs .active a,
.features__tabs a:hover {
  color: var(--color-fg-3);
  box-shadow: none;
}
